.content {
    background-color: #f0f0f0;
    padding: 60px 0;
}
.content h2 {
    font-family: "풕턼환쥌";
    font-size: 33px;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 400;
}
.content h3 {
    font-family: "풕턼환쥌";
    font-size: 18pt;
    text-align: center;
    margin-bottom: 20px;
}
.content p,b {
    font-family: "풕턼환쥌";
    font-size: 10.5pt;
    text-align: left;
    line-height: 30px;
    margin-bottom: 20px;
}
/*팋횇퉣*/
.content h4,h5,h6 {
    font-size: 14pt;
    font-family: "풻";
    color밐#636363;
    line-height: 30px;
    margin-bottom: 20px;
    text-align: left;
}
.content h5 {
    font-size: 18pt;
    font-weight: 400;
}
.content h6 {
    font-size: 13.5pt;
    font-weight: 400;
}
.content span {
    color: red;
}
.content strong {
    font-family: "풕턼환쥌";
    font-size: 12pt;
    text-align: left;
    line-height: 30px;
    margin-bottom: 35px;
    display: inline-block;
}
