<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>驰润视频,视频会议,驰润视频会议系统</title>
    <meta name="description" content="驰润视频为您提供提供高效、优质的视频服务，帮助您的团队提高沟通效率，具有强大的音视频通讯能力 "/>
    <meta name="Keywords" content="云架构全新设计、支持公有云&私有云的部署、提供平台、客户端、移动应用全方位的SDK和API"/>
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<!--左侧区域-->
    <div class="left-area">
        <ul class="clearfix">
            <li><a href="javascript:void(0)"><img src="images/1.jpg" ><span></span></a></li>
            <li><a href="javascript:void(0)"><img src="images/2.jpg" ></a></li>
            <li><a href="javascript:void(0)"><img src="images/3.jpg" ></a></li>
            <li><a href="javascript:void(0)"><img src="images/4.jpg" ></a></li>
            <li><a href="javascript:void(0)"><img src="images/5.jpg" ><span></span></a></li>
        </ul>
    </div>
<!--左侧区域 end-->
<!--主画面区域-->
    <div class="master"></div>
<!--主画面区域 end-->
<!--功能区-->
    <div class="bottom-area">
        <ul class="clearfix">
            <li><a href="personal-center.html">
                <div></div>
                <p>个人中心</p>
            </a></li>
            <li><a href="#">
                <div></div>
                <p>通讯录</p>
            </a></li>
            <li><a href="#">
                <div></div>
                <p>邀请好友</p>
            </a></li>
        </ul>
        <ul class="clearfix">
            <li><a href="#">
                <div></div>
                <p>设置</p>
            </a></li>
            <li><a href="#">
                <div></div>
                <p>开启麦克风</p>
            </a></li>
            <li><a href="#">
                <div></div>
                <p>开启摄像头</p>
            </a></li>
            <li><a href="#">
                <div></div>
                <p>结束</p>
            </a></li>
            
        </ul>
        <ul class="clearfix">
            <li><a href="#">
                <div></div>
                <p>创建会议</p>
            </a></li>
            <li class="sign-in"><a href="#">
                <div></div>
                <p>签到</p>
            </a></li>
            <li class="attendee"><a href="#">
                <div></div>
                <p>共享</p>
            </a></li>
            <li class="Speech"><a href="#">
                <div></div>
                <p>我要发言</p>
            </a></li>
            <li class="questionnaire"><a href="#">
                <div></div>
                <p >问卷</p>
            </a></li>    
        </ul>
    </div>
<!--功能区 end-->
    <div class="right-area">
        <div class="title">
            <p>项目启动讨论会</p>
            <span></span>
        </div>
        <!--参会者列表-->
        <div class="attendee">
            <span></span>
            <p>参会人</p>
            <i>3</i>
            <strong>/</strong>
            <em>5</em>
            <b></b>
        </div>
        <div class="attendee-list">
            <ul>
                <li><a href="javascript:void(0)">
                    <img src="images/1.jpg" alt=""/>
                    <p>李明</p>
                    <span>主持人</span>
                    <i></i>
                    <em></em>
                </a></li>
            </ul>
        </div>
        <!--参会者 end-->
        <div class="chat">
            <span></span>
            <p>聊天</p>
            <b></b>
            <i>99+</i>
        </div>
        <!--聊天列表-->
        <div class="chat-list">
            <ul id="content">
                <li><a href="javascript:void(0)">
                    <img src="images/1.jpg" alt=""/>
                    <dl>
                        <dt>李明</dt>
                        <dd class="identity">主持人</dd>
                        <dd class="content"><p>基于移动视频应用，提供根据客户需求的私有云部署，提供定制化、弹性化、分布式的开箱即用服务。</p></dd>
                    </dl>
                </a></li>
            </ul>
        </div>
        <div class="send">
            <p>发送:</p>
            <select name="" id="">
                <option value="">所有人</option>
            </select>
        </div>
        <textarea id="text"></textarea>
    </div>
</body>
</html>