<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>驰润视频会议系统登录</title>
    <link rel="shortcut icon" href="../static/images/favicon.ico" />
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
	<div class="background">
		<div class="wide">
		<div class="form wide">
		<div class="logo clearfix">
			<img src="images/logo_login_03.png" height="59" width="50" alt="">
			<span>|</span>
			<p>驰润视频会议系统</p>
		</div>
		<form action="">
			<input type="text" placeholder = "用户名" class="name" >
			<input type="password" placeholder = "输入密码" class="password" >
			//  生成验证码
			<p class="clearfix">
				<input type="text" placeholder = "输入验证码" class="verification" id="code">
				<span onlike="createCode"></span>
			</p>

			<input type="button" class="button" value="确定">
		</form>
	</div>
		</div>
	</div>
</body>
</html>