<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>驰润视频-隐私政策</title>
    <link rel="shortcut icon" href="../static/images/favicon.ico" />
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/contract.css"/>
</head>
<body>
<!--nav-->
<div class="nav-header ">
    <div class="wide">
        <p class="fl">欢迎来到驰润视频官网！服务热线：023-68586688</p>
            <span class="fr">
                <a href="#" target="_blank">APP下载</a> |
                <a href="#" target="_blank">支持</a> |
                <a href="#" target="_blank">关于我们</a>
            </span>
    </div>
</div>
<div class="wide nav clearfix">
    <a href="#" class="logo fl"><img src="images/logo.png" alt="" /></a>
    <ul>
        <li><a href="#">首页</a></li>
        <li id="solution">
            <a href="#" target="_blank">解决方案</a>
            <ul>
                <li><a href="#" target="_blank">音视频通信</a></li>
                <li><a href="#" target="_blank">嵌入式sdk</a></li>
                <li><a href="#" target="_blank">云产品</a></li>
                <li><a href="#" target="_blank">智能硬件</a></li>
            </ul>
        </li>
        <li><a href="#" target="_blank">价格</a></li>
        <li><a href="#" target="_blank">联系我们</a></li>
    </ul>
    <ol class="fr">
        <li><a href="#" target="_blank">加入一场会议</a></li>
        <li><a href="login" target="_blank">登录</a></li>
        <li><a href="registered" target="_blank">免费注册</a></li>
    </ol>
</div>
<script src="js/base.js"></script>
<!--nav end-->
<div class="content">
    <div class="wide">
    <h2>隐私政策</h2>
    <h4>《驰润视频隐私政策》</h4>
    <p>请仔细阅读《驰润视频隐私政策》并确认已了解我们对您个人信息的处理规则。阅读过程中，如您有任何疑问，可向我们的客服咨询，如您不同意协议中的任何条款，您应立即停止访问驰润视频。</p>
    <h5>引言</h5>
    <p>重庆万照驰润科技有限公司非常重视用户的隐私和个人信息保护，我们深知个人信息对您的重要性，我们将依照法律法规要求，采取相应安全保护措施，尽力保护您的个人信息安全可控。鉴于此，重庆万照驰润科技有限公司下运营的</p>
    <p><b>驰润视频</b>产品和服务提供者（或简称“我们”）制定本《驰润视频隐私政策》（下称“本政策”）并提醒您：</p>
    <p>本政策适用于驰润视频产品及服务，包括驰润视频官网（域名为crmeeting.cn）、驰润视频直播 <span>（域名为cloud.crmeeting.cn）</span>、客户端（包括适配安卓、iOS、macOS以及Windows的驰润视频客户端）、承载驰润视频产品及服务的硬件产品（诸如驰润视频会议室系统、驰润视频小T）以及将驰润视频部分功能/服务作为第三方服务集成在其他第三方公司所提供的智能硬件、软件或服务中而形成的智能硬件、软件或服务。</p>
    <p>如上述第三方公司的产品或服务中使用了驰润视频提供的产品或服务但未设独立的隐私政策，则本政策同样适用于该部分产品或服务。</p>
    <p>希望您在使用驰润视频产品或服务前，务必仔细阅读并确认您已经理解本政策所写的内容，在确认充分理解并同意后使用相关产品或服务。一旦您开始使用驰润视频产品或服务，即表示您已充分理解并同意本政策。</p>
    <p>如您对本政策内容或相关事宜有任何问题或建议，可以随时通过【7*12小时客服热线 <span>（400-010-6066）</span>】与我们联系。</p>
    <p>本隐私政策将帮助您了解以下内容：</p>
    <p>个人信息的收集</p>
    <p>个人信息的使用</p>
    <p>个人信息的保护</p>
    <p>未成年人隐私权的保护</p>
    <p>隐私政策更新</p>
    <p>联系我们</p>
    <h5>一、个人信息的收集</h5>
    <h6>(一) 用户注册</h6>
    <p><b>1)注册账号：</b>您首先需要注册一个账号成为驰润视频用户，以享受我们为您提供的服务，包括视频会议、电话会议、收看直播、设置个人通讯录、聊天、创建群组等实现沟通的功能。当注册时，您需要提供手机号码等基本信息以创建驰润视频账号。我们将通过发送短信验证码的方式来验证您的身份是否有效。</p>
    <p><b>2)使用电话会议及添加好友等功能：</b>如果您需要实现电话会议、添加好友等功能，则需要您授权我们访问您的手机通讯录。</p>
    <p><b>3)召开直播：</b>如您需要召开直播，还需要提供您的身份证件、营业执照、企业组织机构代码证等的认证登记。</p>
    <p><b>4)设置企业通讯录：</b>如您需要设置企业通讯录，您需要提供以下额外资料补全账号信息，以便我们给您提供相关的产品或服务：您的企业名称、营业执照、企业组织机构代码证、行业类型、您的职位、企业认证邮箱。</p>
    <p><b>5)网页浏览：</b>如果您仅需使用浏览、搜索驰润视频官方主页查询服务及介绍，您无需注册成为我们的会员，并无需提供上述信息。</p>
    <p><b>6)信息修改及删除：</b>在注册成为驰润视频用户后，可对您的个人信息进行修改，如姓名、手机、公司/组织名称等，操作路径【驰润视频官网-登录-个人资料】。当您所在组织机构注销驰润视频时，我们将会匿名或删除您在该组织的相关个人信息，但您作为驰润视频用户的信息仍将保留，除非您主动注销驰润视频账号，届时我们将根据相关法规的要求在180天内使其匿名或删除您的个人信息。</p>
    <h6>(二) 使用产品或服务</h6>
    <p>当您在使用驰润视频时，为保障您正常使用我们的服务，我们会收集关于您使用产品、服务以及使用方式的信息并将这些信息进行关联，这些信息包括：</p>
    <p><b>1)设备信息：</b>为保障您正常使用我们的服务，我们会根据您在软件安装及使用中授予的具体权限，收集您的设备型号、操作系统、唯一设备标识符、驰润视频客户端版本号、接入网络的方式和类型、设备所在位置相关信息（例如IP地址、GPS位置以及能够提供相关信息的Wi-Fi接入点、蓝牙和基站等传感器信息）、操作日志等日志信息，这类信息是为提供服务必须收集的基础信息；</p>
    <p><b>2)日志信息：</b>当您访问我们的网站或使用我们的客户端提供的产品或服务时，我们会自动收集您对我们服务的详细使用情况，作为有关网络日志保存。例如您的IP地址、电信运营商、访问日期和时间、通话状态信息、搜索查询内容、您访问的网页记录、浏览器的类型、使用的语言、软硬件特征信息、您需求的网页记录及驰润视频服务Cookies信息等；</p>
    <p><b>3)服务使用信息：</b>我们会记录您在使用驰润视频产品及服务时提交或产生的信息、通过云录制存储的信息、创建的好友列表、设置信息（例如记住密码、自动登录、通用设置、隐私设置、消息提示）等；</p>
    <p><b>4)发送通知：</b>当您在使用驰润视频服务执行某些操作时（例如预约会议、邀请参会人、添加好友等），我们可能会向您或其他人发送通知；</p>
    <p><b>5)订单信息：</b>为展示您账号的订单信息，我们会收集您在使用我们服务过程中产生的订单信息，用于向您展示及便于您对订单进行管理；</p>
    <p><b>6)您的反馈：</b>在您使用驰润视频产品及服务的过程中，如有任何疑问、问题及建议，您可以对我们进行反馈，帮助我们更好地了解您使用我们产品或服务的体验和需求，以助于改善我们产品或服务。当您与我们联系时，我们可能会保存您的通信/通话记录和内容或您留下的联系方式等信息，以便与您联系或帮助您解决问题，或记录相关问题的处理方案及结果。</p>
    <strong>请注意，单独的设备信息、日志信息等是无法识别特定自然人身份的信息。</strong>
    <p>如果我们将这类非个人信息与其他信息结合用于识别特定自然人身份，或者将其与个人信息结合使用，则在结合使用期间，这类非个人信息将被视为个人信息，除取得您授权或法律法规另有规定外，我们会将该类个人信息做匿名化、去标识化处理。</p>
    <h6>(三) 用户安全保障</h6>
    <p>为预防、发现、调查欺诈、侵权、危害安全、非法或违反与我们的协议、政策的行为，我们可能收集或整合您的产品及服务使用信息、用户、设备、日志等信息。</p>
    <h6>(四) 其他</h6>
    <p><b>1)</b>我们将基于本政策未载明的其他特定目的收集您的信息时，会事先征求您的同意。</p>
    <p><b>2)</b>我们收集上述信息，目的是为了更好的经营驰润视频产品及服务。</p>
    <p><b>3)</b>我们可能会为您推送功能及服务的更新、升级、变更等信息，可能向您推送您可能感兴趣的商业信息，包括但不限于驰润视频或其他第三方的产品或服务；推送方式包括但不限于电话、短信、电子邮件、网站通知、客户端消息推送、客户端弹窗等。</p>
    <p><b>4)</b>我们不会查看或者使用您通过驰润视频云存储、聊天等服务存储的任何业务数据。</p>
    <p><b>5)</b>如我们停止运营驰润视频产品或服务，我们将及时停止继续收集您个人信息的活动，将停止运营的通知以逐一送达或公告的形式通知您，对所持有的个人信息进行删除或匿名化处理。</p>
    <h5>二、个人信息的使用</h5>
    <h6>(一) 个人信息的使用</h6>
    <p>我们收集您的信息是基于向您提供服务及提升服务质量的目的，为了实现这一目的，我们会把您的信息用于下列用途：</p>
    <p><b>1)</b>向您提供驰润视频产品或服务，维护、改进、优化驰润视频的产品、服务及用户体验；</p>
    <p><b>2)</b>为预防、发现、调查欺诈、侵权、危害安全、非法或违反与我们的协议、政策的行为，我们可能收集或整合您的产品及服务使用信息、用户、设备、日志等信息，来综合判断您账户及交易风险、进行身份验证、检测及防范安全事件，并依法采取必要的记录、审计、分析、处置措施；</p>
    <p><b>3)</b>我们可能会将您的信息进行处理，用于向您提供更加个性化的服务，例如向您推荐特定的内容，包括但不限于向您发出产品和服务信息，或通过系统向您展示个性化的第三方广告；</p>
    <p><b>4)</b>已经您许可的其他用途。</p>
    <h6>(二)Cookie和同类技术的使用</h6>
    <p>驰润视频网站使用"cookie"，以便您能够登录我们的服务，并帮助个性化您的联网体验。Cookie是网页服务器放置在您的硬盘上的一个小型文本文件。Cookie中包含一些信息，在您访问驰润视频网站时，Cookie会被发送给您的 Web 服务器，以便在以后读取它们。Cookie不能用于运行程序，也不会将病毒传输到您的计算机中。</p>
    <p>使用Cookie的主要目的是在您的计算机上存储您的首选项和其他信息，以消除重复输入相同信息的需要从而达到节省时间的目的，而且还可以在您以后访问这些站点时显示个性化内容和符合您喜好的广告。驰润视频网站也会遵照本隐私声明中收集个人信息的规定使用Cookie。</p>
    <p>当您使用驰润视频网站所属的帐号与密码登录时，我们会将您的唯一 ID 号和登录时间存储在您硬盘上的加密Cookie中。使用此Cookie，您可以从该站点上的一个页面移动到另一个页面，而不必在每个页面上再次登录。这些Cookie会在您注销时从您的计算机中删除。我们也会使用Cookie来改善登录体验。例如，您的电子邮件地址可存储在一个Cookie中。在注销后，该Cookie仍会保留在您的计算机中。它可以帮您预先填充电子邮件地址，这样您在下次登录时只需键入密码即可。如果您使用的是公共计算机或者不想存储该信息，则可以在登录页面上选择合适的单选按钮，这样一来便不会使用此Cookie了。</p>
    <p>您可以接受或拒绝Cookie。多数 Web 浏览器自动接受Cookie，但是通常如果需要，您可以修改浏览器设置来拒绝使用Cookie。如果选择拒绝Cookie，您可能无法登录或使用驰润视频网站提供的交互式功能，有些依赖于Cookie的广告首选项可能无法应用。</p>
    <p>如果选择接受Cookie，您也可以在以后删除已经授受的Cookie。以 Internet Explorer 为例，您可以通过选择"工具"、"删除浏览的历史记录"， 然后选择控制框"Cookie"并单击"删除"按钮。如果您选择删除Cookie，由这些Cookie控制的任何设置和首选项（包括广告首选项）将被删除，以后可能需要重新创建。</p>
    <h6>(三)个人信息的共享、转让和公开披露</h6>
    <strong>1. 共享</strong>
    <p>我们不会主动共享您的个人信息至第三方，但以下情况除外：</p>
    <p><b>1)</b>在获取您的明确同意后，我们会与其他方共享您的个人信息；</p>
    <p><b>2)</b>根据适用的法律法规、法律程序的要求、强制性的行政或司法要求所必须的情况下，对外共享您的个人信息；</p>
    <p><b>3)</b>只有透露您的资料，才能提供您所要求的产品和服务，如使用电话呼入及呼出功能、电话会议功能，您提供的用于通话的手机号码，将被传送至基础电信业务运营商以实现通信，但不会作为来电显示号码向其他用户展示；</p>
    <p><b>4)</b>当您开启通讯录匹配时，系统会将通讯录中的联系人手机号进行高强度加密算处理并匹配，之后将有匹配关系的用户展示给您，随锐科技不会保留您通讯录中的任何可识别的信息；</p>
    <p><b>5)</b>与授权合作伙伴共享：仅为实现本隐私政策中声明的目的，我们的某些服务将由我们和授权合作伙伴共同提供。我们可能会与合作伙伴共享您的某些个人信息，以提供更好的客户服务和用户体验。例如，可能会安排合作伙伴为您提供线下的服务。我们仅会出于合法、正当、必要、特定、明确的目的共享您的个人信息，并且只会共享提供服务所必要的个人信息。我们的合作伙伴无权将共享的个人信息用于与产品或服务无关的其他用途。</p>
    <strong>2. 转让</strong>
    <p>我们不会将您的个人信息转让给任何公司、组织和个人，但以下情况除外：</p>
    <p><b>1)</b>事先获取您明确的同意或授权；</p>
    <p><b>2)</b>根据适用的法律法规、法律程序的要求、强制性的行政或司法要求所必须的情况进行提供；</p>
    <p><b>3)</b>在涉及发生合并、收购、资产转让、破产清算或类似的交易时，如涉及到个人信息转让，我们会要求新的持有您个人信息的公司、组织、个人继续受本政策的约束，否则我们将要求该公司、组织和个人重新向您征求授权同意。</p>
    <strong>3. 公开披露</strong>
    <p>我们仅会在以下情况下，且采取符合业界标准的安全防护措施的前提下，公开披露您的个人信息：</p>
    <p><b>1)</b>基于您的需求或主动选择或获得您明确同意后，我们可能会公开披露您的个人信息；</p>
    <p><b>2)</b>如果我们确定您出现违反法律法规或严重违反驰润视频相关协议规则的情况，或为保护驰润视频及重庆万照驰润科技有限公司其他用户或公众的人身财产安全，或根据法律、法规的要求、强制性的行政或司法要求所必须提供您个人信息的情况下，我们可能依据法律法规或驰润视频相关协议规则披露关于您的个人信息，包括相关违规行为以及驰润视频已对您采取的措施。我们对所有的请求都进行了慎重的审查，以确保其具备合法依据，且仅限于执法部门因特定调查目的且有合法权利获取的数据。</p>
    <strong>4. 无需事先征得授权的共享、转让、公开披露</strong>
    <p>您充分知晓，以下情形中，我们共享、转让、公开披露您的个人信息无需征得您的授权同意：</p>
    <p><b>1)</b>与国家安全、国防安全有关的；</p>
    <p><b>2)</b>与公共安全、公共卫生、重大公共利益有关的；</p>
    <p><b>3)</b>与犯罪侦查、起诉、审判和判决执行等有关的；</p>
    <p><b>4)</b>出于维护个人信息主体或其他个人的生命、财产等重大合法权益但又很难得到本人同意的；</p>
    <p><b>5)</b>所收集的个人信息是个人信息主体自行向社会公众公开的；</p>
    <p><b>6)</b>从合法公开披露的信息中收集的您的个人信息的，如合法的新闻报道、政府信息公开等渠道；</p>
    <p><b>7)</b>根据您的要求签订合同所必需的；</p>
    <p><b>8)</b>用于维护所提供的产品与/或服务的安全稳定运行所必需的，例如发现、处置产品或服务的故障；</p>
    <p><b>9)</b>为合法的新闻报道所必需的；</p>
    <p><b>10)</b>学术研究机构基于公共利益开展统计或学术研究所必要，且对外提供学术研究或描述的结果时，对结果中所包含的个人信息进行去标识化处理的；</p>
    <p><b>11)</b>法律法规规定的其他情形；</p>
    <p><b>12)</b>根据法律规定，共享、转让经去标识化处理的个人信息，且确保数据接收方无法复原并重新识别个人信息主体的，不属于个人信息的对外共享、转让及公开披露行为，对此类数据的保存及处理将无需另行向您通知并征得您的同意。</p>
    <h4>三、个人信息的保护</h4>
    <p>我们非常重视用户的信息安全，并采取一切合理可行的措施，以保障您的个人信息：避免信息遭误用、盗用、被未经授权的取阅或披露，避免数据的更改、损害或丢失。我们会采用符合业界标准的安全防护措施，包括使用严格的信息安全规定和流程、采取安全协议等加密技术、采用严格的数据访问权限控制和多重身份认证技术等措施，以保护您的信息安全。</p>
    <p>我们会采取合理可行的措施，尽力避免收集无关的个人信息。我们只会在达成本政策所述目的所需的期限内保留您的个人信息，除非需要延长保留期或受到法律的允许。</p>
    <p>在不幸发生个人信息安全事件后，我们将按照法律法规的要求，及时向您告知：安全事件的基本情况和可能的影响、我们已采取或将要采取的处置措施、您可自主防范和降低风险的建议、对您的补救措施等。事件相关情况我们将以邮件、信函、电话、推送通知等方式告知您，难以逐一告知时，我们会采取合理、有效的方式发布公告。同时，我们还将按照监管部门要求，上报个人信息安全事件的处置情况。</p>
    <p>互联网环境并非百分之百安全，尽管我们有这些安全措施，但请注意在互联网上不存在“完善的安全措施”，我们将尽力确保您发送给我们的任何信息的安全性。</p>
    <h4>四、未成年人隐私权的保护</h4>
    <p>我们非常重视未成年人的信息保护，如您为18周岁以下的未成年人，建议您请您的监护人仔细阅读本隐私政策，并在取得您监护人同意的前提下使用我们的产品和服务或向我们提供信息。在您注册和使驰润视频提供的产品及服务时，我们默认认为您已得到您的监护人的同意，我们将根据国家相关法律法规及本《驰润视频隐私政策》的规定保护未成年人的个人信息。</p>
    <p>对于经法定监护人同意而收集未成年人个人信息的情况，我们只会在受到法律允许、监护人明确同意或者保护未成年人所必要的情况下使用或公开披露此信息。</p>
    <p>如果我们发现自己在未事先获得法定监护人同意的情况下收集了未成年人的个人信息，则会设法尽快删除相关数据。</p>
    <h4>五、隐私政策更新</h4>
    <p>为给您提供更好的服务，以及随着驰润视频业务的发展，驰润视频可不断修订本隐私政策。</p>
    <p>但未经您明确同意，我们不会减少您依据本隐私政策所应享有的权利。我们会在驰润视频官方主页（网址：<span>www.crmeeting.cn</span>）上发出更新版本。</p>
    <p>对于重大变更，我们还会提供更为显著的通知。（我们会通过包括但不限于邮件、短信、驰润视频客户端发布公告通或弹窗提示等提示方式，说明隐私政策的具体变更内容。）</p>
    <strong>您在任何变更后继续使用驰润视频网站或产品和服务将表明及确认您对此类变更的同意。</strong>
    <p>本政策所指的重大变更包括但不限于：</p>
    <p><b>1)</b>我们的服务模式发生重大变化。如处理用户信息的目的、用户信息的使用方式等；</p>
    <p><b>2)</b>我们在控制权、组织架构等方面发生重大变化。如业务调整、破产、并购等引起的所有者变更等；</p>
    <p><b>3)</b>用户信息共享、转让或公开披露的主要对象发生变化；</p>
    <p><b>4)</b>我们负责处理用户信息安全的责任部门、联络方式及投诉渠道发生变化时；</p>
    <p><b>5)</b>用户信息安全影响评估报告表明存在高风险时。</p>
    <h4>六、联系我们</h4>
    <p>如您对我们的隐私保护政策有任何疑问、意见或建议，可通过电话、邮件或邮寄方式与我们联系。</p>
    <p><b>1)电话：</b><span>400-010-6066；</span></p>
    <p><b>2)邮件：</b><span>zm@suirui.com </span></p>
    <p><b>3)邮寄地址：</b><span>中国重庆市渝中区万科中心三号楼4101 重庆万照驰润科技有限公司 驰润视频 (收) 邮编:40042 。</span></p>
    <p>一般情况下，我们将在三十天内回复。如果您对我们的回复不满意，特别是我们的个人信息处理行为损害了您的合法权益，您还可以向 <span>重庆市渝中区有管辖权的人民法院</span>提起诉讼来寻求解决方案。</p>
    </div>
</div>
<!--footer-->
<div class="footer">
    <div class="wide footer-top">
        <img src="images/logo_1.png" alt=""/>
        <div class="wechat fl">
            <img src="images/wechat.png" alt=""/>
            <dl>
                <dt>微信公众号</dt>
                <dd>关注我们更多精彩</dd>
            </dl>
        </div>
        <ul class="fl">
            <li>
                <div class="android fl">
                    <img src="images/android.png" alt=""/>
                    <p>安卓下载</p>
                </div>
            </li>
            <li>
                <div class="ios fl">
                    <img src="images/android.png" alt=""/>
                    <p>IOS下载</p>
                </div>
            </li>
            <li>
                <dl class="footer-news fl">
                    <dt>新闻中心</dt>
                    <dd><a href="#" target="_blank">企业新闻</a></dd>
                    <dd><a href="#" target="_blank">行业新闻</a></dd>
                </dl>
            </li>
            <li>
                <dl class="hire fl">
                    <dt>诚聘英才</dt>
                    <dd>电话：023-68586688</dd>
                    <dd>行业新闻</dd>
                    <dd>客服QQ:2943794601</dd>
                    <dd>电子邮箱：service@crmeeting.cn</dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
<div class="footer-bottom">
    <div class="wide">
        <p>Copyright ©2014-2018 驰润视频, 增值电信业务经营许可证：川B2-20140080</p>
        <p>备案号：蜀ICP14003321号</p>
    </div>
</div>

</body>
</html>