<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>驰润视频-注册</title>
    <link rel="shortcut icon" href="../static/images/favicon.ico" />
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/registered.css"/>
</head>
<body>
<!--nav-->
<div class="nav-header ">
    <div class="wide">
        <p class="fl">欢迎来到驰润视频官网！服务热线：023-68586688</p>
            <span class="fr">
                <a href="#" target="_blank">APP下载</a> |
                <a href="#" target="_blank">支持</a> |
                <a href="#" target="_blank">关于我们</a>
            </span>
    </div>
</div>
<div class="wide nav clearfix">
    <a href="#" class="logo fl"><img src="images/logo.png" alt="" /></a>
    <ul>
        <li><a href="#">首页</a></li>
        <li id="solution">
            <a href="#" target="_blank">解决方案</a>
            <ul>
                <li><a href="#" target="_blank">音视频通信</a></li>
                <li><a href="#" target="_blank">嵌入式sdk</a></li>
                <li><a href="#" target="_blank">云产品</a></li>
                <li><a href="#" target="_blank">智能硬件</a></li>
            </ul>
        </li>
        <li><a href="#" target="_blank">价格</a></li>
        <li><a href="#" target="_blank">联系我们</a></li>
    </ul>
    <ol class="fr">
        <li><a href="#" target="_blank">加入一场会议</a></li>
        <li><a href="login" target="_blank">登录</a></li>
        <li><a href="#" target="_blank">免费注册</a></li>
    </ol>
</div>
<script src="js/base.js"></script>
<!--nav end-->
<!--注册表单-->
<div class="pic-bg">
    <div class="wide">
         <form action="">
             <p class="title">免费注册</p>
             <div class="tel">
                 <input type="text" placeholder="请输入手机号码"/>
                 <span>获取验证码</span>
             </div>
             <input type="text" placeholder="验证码"/>
             <input type="text" placeholder="密码"/>
             <input type="text" placeholder="确认密码"/>
             <button>免费注册</button>
             <p class="statement">注册账号，代表您同意
                 <a href="contract">服务协议</a>和
                 <a href="privacy">隐私政策</a>
             </p>
             <p class="login">已有账号？<a href="login">马上登陆</a>
             </p>
         </form>
    </div>
</div>
<!--注册表单 end-->
<!--footer-->
<div class="footer">
    <div class="wide footer-top">
        <img src="images/logo_1.png" alt=""/>
        <div class="wechat fl">
            <img src="images/wechat.png" alt=""/>
            <dl>
                <dt>微信公众号</dt>
                <dd>关注我们更多精彩</dd>
            </dl>
        </div>
        <ul class="fl">
            <li>
                <div class="android fl">
                    <img src="images/android.png" alt=""/>
                    <p>安卓下载</p>
                </div>
            </li>
            <li>
                <div class="ios fl">
                    <img src="images/android.png" alt=""/>
                    <p>IOS下载</p>
                </div>
            </li>
            <li>
                <dl class="footer-news fl">
                    <dt>新闻中心</dt>
                    <dd><a href="#" target="_blank">企业新闻</a></dd>
                    <dd><a href="#" target="_blank">行业新闻</a></dd>
                </dl>
            </li>
            <li>
                <dl class="hire fl">
                    <dt>诚聘英才</dt>
                    <dd>电话：023-68586688</dd>
                    <dd>行业新闻</dd>
                    <dd>客服QQ:2943794601</dd>
                    <dd>电子邮箱：service@crmeeting.cn</dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
<div class="footer-bottom">
    <div class="wide">
        <p>Copyright ©2014-2018 驰润视频, 增值电信业务经营许可证：川B2-20140080</p>
        <p>备案号：蜀ICP14003321号</p>
    </div>
</div>
<!--footer end-->
</body>
</html>