<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crmeeting.mapper.ChatEmoticonMapper">
  <resultMap id="BaseResultMap" type="com.crmeeting.entity.ChatEmoticon">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="emoticon_address" jdbcType="VARCHAR" property="emoticonAddress" />
    <result column="group_chat_record_id" jdbcType="BIGINT" property="groupChatRecordId" />
    <result column="group_id" jdbcType="BIGINT" property="groupId" />
    <result column="private_chat_record_id" jdbcType="BIGINT" property="privateChatRecordId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from chat_emoticon
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.crmeeting.entity.ChatEmoticon">
    insert into chat_emoticon (id, gmt_create, gmt_modified, 
      emoticon_address, group_chat_record_id, group_id, 
      private_chat_record_id)
    values (#{id,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{emoticonAddress,jdbcType=VARCHAR}, #{groupChatRecordId,jdbcType=BIGINT}, #{groupId,jdbcType=BIGINT}, 
      #{privateChatRecordId,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.crmeeting.entity.ChatEmoticon">
    update chat_emoticon
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      emoticon_address = #{emoticonAddress,jdbcType=VARCHAR},
      group_chat_record_id = #{groupChatRecordId,jdbcType=BIGINT},
      group_id = #{groupId,jdbcType=BIGINT},
      private_chat_record_id = #{privateChatRecordId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, gmt_create, gmt_modified, emoticon_address, group_chat_record_id, group_id, 
    private_chat_record_id
    from chat_emoticon
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, gmt_create, gmt_modified, emoticon_address, group_chat_record_id, group_id, 
    private_chat_record_id
    from chat_emoticon
  </select>
</mapper>