<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crmeeting.mapper.PrivateChatRecordMapper">
  <resultMap id="BaseResultMap" type="com.crmeeting.entity.PrivateChatRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="sender" jdbcType="BIGINT" property="sender" />
    <result column="recipient" jdbcType="BIGINT" property="recipient" />
    <result column="datetime" jdbcType="TIMESTAMP" property="datetime" />
    <result column="is_read" jdbcType="TINYINT" property="isRead" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from private_chat_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.crmeeting.entity.PrivateChatRecord">
    insert into private_chat_record (id, gmt_create, gmt_modified, 
      sender, recipient, datetime, 
      is_read)
    values (#{id,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{sender,jdbcType=BIGINT}, #{recipient,jdbcType=BIGINT}, #{datetime,jdbcType=TIMESTAMP}, 
      #{isRead,jdbcType=TINYINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.crmeeting.entity.PrivateChatRecord">
    update private_chat_record
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      sender = #{sender,jdbcType=BIGINT},
      recipient = #{recipient,jdbcType=BIGINT},
      datetime = #{datetime,jdbcType=TIMESTAMP},
      is_read = #{isRead,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, gmt_create, gmt_modified, sender, recipient, datetime, is_read
    from private_chat_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, gmt_create, gmt_modified, sender, recipient, datetime, is_read
    from private_chat_record
  </select>
</mapper>